@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Shared styles */
main > section {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 130px;
}

/* *{
    margin: 0;
    padding: 0;
} */
body {
  font-family: "Work Sans", sans-serif;
}
.display-flex {
  display: flex;
}
.first-bg {
  background-color: rgba(255, 144, 14, 0.1);
}
.dark1 {
  color: rgba(19, 19, 19, 1);
}
.dark2 {
  color: rgba(66, 66, 66, 1);
}
.dark3 {
  color: rgba(114, 114, 114, 1);
}
.third-color {
  color: #ff900e;
}
.primary-btn {
  background-color: #ff900e;
  color: #ffffff;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
.section-title {
  font-size: 3rem;
}
.section-subtitle {
  font-size: 1rem;
}

/* header styles */
header {
  max-width: 1920px;
  max-height: 1322px;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.brand-name {
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
}
.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title {
  font-weight: bold;
  font-size: 4rem;
}
.banner-img {
  width: 100%;
}

/* team and our features styles */
.teams {
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-feature {
  margin-left: 73px;
}

.our-feature p {
  font-size: 1rem;
}

/* features related styles */
.feature {
  gap: 140px;
}
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 0;
}
.feature-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
.feature-subtitle {
  font-size: 1rem;
}
.feature-img {
  width: 100%;
  margin-top: 50px;
 
}

#experience-badge {
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year {
  font-weight: bold;
  font-size: 4rem;
}
/* facts styles  */
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 120px;
}
.facts-card {
  border: 1px solid #ff900e;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number {
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 5px;
}
.fact-content p {
  max-width: 540px;
}

/* sponsor related styles */
.sponser-info {
  max-width: 540px;
  margin: 50px auto;
}
.sponsors-companies {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsors-companies img {
  filter: grayscale(100%);
}
/* footer styles */
footer {
  background-color: #fff4e7;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
}
.footer-content {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}

/* responsive styles for mobile */
@media screen and (max-width: 576px) {
  .teams,
  .navbar,
  .nav-links,
  .feature {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponsors-companies {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-img{
    margin-top: 0px;
  }
  .facts-container {
    justify-items: center;
    gap: 24px;
  }
  .sponsors-companies {
    justify-items: center;
    gap: 50px;
  }
  #experience-badge {
    margin: 0 20px;
  }
}

/* responsive styles for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .feature {
    flex-direction: column;
  }
  .facts-container,
  .sponsors-companies {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
  #experience-badge {
    margin: 0 20px;
  }
  .feature-img{
    margin-top: 0px;
  }
}
